# External Lab 

Here each question is of 1 mark.

# Multiple Linear Regression

## Problem Statement

Use Multiple Linear Regression to **predict the consumption of petrol** given relevant variables are the petrol tax, the per capita, income, the number of miles of paved highway, and the proportion of the population with driver's licenses.

## Dataset

There are 48 rows of data.  The data include:

      I,  the index;
      A1, the petrol tax;
      A2, the per capita income;
      A3, the number of miles of paved highway;
      A4, the proportion of drivers;
      B,  the consumption of petrol.

### Reference 

    Helmut Spaeth,
    Mathematical Algorithms for Linear Regression,
    Academic Press, 1991,
    ISBN 0-12-656460-4.

    S Weisberg,
    Applied Linear Regression,
    New York, 1980, pages 32-33.

## Question 1 - Exploratory Data Analysis

*Read the dataset given in file named **'petrol.csv'**. Check the statistical details of the dataset.*

**Hint:** You can use **df.describe()**

In [41]:
import numpy as np
import pandas as pd
data=pd.read_csv("petrol.csv")

In [2]:
data.describe()

             tax       income       highway         dl   consumption
count  48.000000    48.000000     48.000000  48.000000     48.000000
mean    7.668333  4241.833333   5565.416667   0.570333    576.770833
std     0.950770   573.623768   3491.507166   0.055470    111.885816
min     5.000000  3063.000000    431.000000   0.451000    344.000000
25%     7.000000  3739.000000   3110.250000   0.529750    509.500000
50%     7.500000  4298.000000   4735.500000   0.564500    568.500000
75%     8.125000  4578.750000   7156.000000   0.595250    632.750000
max    10.000000  5342.000000  17782.000000   0.724000    968.000000

# Question 2 - Cap outliers 

Find the outliers and cap them. (Use (Q1 - 1.5 * IQR) as the minimum cap and (Q3 + 1.5 * IQR) as the max cap. The decision criteria is you should consider the datapoints which only falls within this range. The data points which fall outside this range are outliers and the entire row needs to be removed

In [25]:
def IQR(dist):
    return np.percentile(dist, 75) - np.percentile(dist, 25)
print(data.shape)
def outliers_iqr(dataFrame):
    iqr=IQR(dataFrame)
    
    q3=dataFrame.quantile(0.75)
    q1=dataFrame.quantile(0.25)
    
    lower_bound = q1 - (iqr * 1.5)
    upper_bound = q3 + (iqr * 1.5)
    dataFrame[~((dataFrame < (q1 - 1.5 * iqr)) |(dataFrame > (q3 + 1.5 * iqr))).any(axis=1)]
    return dataFrame[~((dataFrame < (q1 - 1.5 * iqr)) |(dataFrame > (q3 + 1.5 * iqr))).any(axis=1)]

outliers_iqr(data)
print(outliers_iqr(data).shape)

(48, 5)
(46, 5)

# Question 3 - Independent variables and collinearity 
Which attributes seems to have stronger association with the dependent variable consumption?

In [26]:
data.corr()

                   tax    income   highway        dl   consumption
tax           1.000000  0.012665 -0.522130 -0.288037     -0.451280
 income       0.012665  1.000000  0.050163  0.157070     -0.244862
 highway     -0.522130  0.050163  1.000000 -0.064129      0.019042
 dl          -0.288037  0.157070 -0.064129  1.000000      0.698965
 consumption -0.451280 -0.244862  0.019042  0.698965      1.000000

In [ ]:
dl has the strongest  association with consumption. Tax has stronger association with Consumption but negative.Income has a strong association with Consumption but negative.

### Observing the above correlation values between all the variables, we can see that there is stronger association between the number of drivers and consumption. And comparatively tax has an association in a negative way. 
Insights :
As tax increases the consumption decreases.
As number of drivers is more consumption is more

# Question 4 - Transform the dataset 
Divide the data into feature(X) and target(Y) sets.

In [36]:
Y=data[' consumption']

In [37]:
X=data.drop(' consumption', axis=1, inplace=True)

# Question 5 - Split data into train, test sets 
Divide the data into training and test sets with 80-20 split using scikit-learn. Print the shapes of training and test feature sets.

In [42]:
from sklearn.model_selection import train_test_split
y=data[' consumption']
x=data.drop(' consumption', axis=1)
xTrain, xTest, yTrain, yTest = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [46]:
print("Shape is ==>>"+str(xTrain.shape))
print("Shape is ==>>"+str(yTrain.shape))
print("Shape is ==>>"+str(xTest.shape))
print("Shape is ==>>"+str(yTest.shape))

Shape is ==>>(38, 4)
Shape is ==>>(38,)
Shape is ==>>(10, 4)
Shape is ==>>(10,)

# Question 6 - Build Model 
Estimate the coefficients for each input feature. Construct and display a dataframe with coefficients and X.columns as columns

In [51]:
from sklearn.linear_model import LinearRegression
linreg=LinearRegression()
linreg.fit(xTrain,yTrain)
print(linreg.coef_)
x=data.drop(' consumption', axis=1)
coeff_df = pd.DataFrame(linreg.coef_, x.columns, columns=['Coefficient'])  
coeff_df

[-4.00166602e+01 -6.54126674e-02 -4.74073380e-03  1.34186212e+03]

          Coefficient
tax        -40.016660
 income     -0.065413
 highway    -0.004741
 dl       1341.862121

# R-Square

# Question 7 - Evaluate the model 
Calculate the accuracy score for the above model.

# Question 8: Repeat the same Multi linear regression modelling by adding both Income and Highway features
Find R2

# Question 9: Print the coefficients of the multilinear regression model

# Question 10 
In one or two sentences give reasoning on R-Square on the basis of above findings
Answer

### *R squared value increase if we increase the number of independent variables to our analysis